body {
  background-image: url(assets/backgroundimg.png.jpg);
}
#logo {
  width: 100px;
  height: 20px;
}
#h1 {
  font-family: "Itim", cursive;
  font-family: "poppins", sans-serif;
}

#img1 {
  width: 150px;
  height: 100px;
}
#word {
  color: rgb(165, 42, 42);
}

#img2 {
  width: 150px;
  height: 100px;
}

div {
  display: inline-block;
  margin: 10px;
}
#corner {
  text-align: right;
  color: rgb(165, 42, 42);
}
